<div class= "mt-5 container mess-box">
  <div class="row">
    <div class="col-4 mess-avatar">
      <p>Your Messages with: </p>
       <% @conversations.each do |conversation| %>
       <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <ul>
          <div class="mess-info">
          <li><%= link_to recipient.first_name,   conversation_messages_path(conversation)%></li>
          </div>
        </ul>
       <% end %>
      <% end %>
    </div>
    <div class="col-8 mess-message">
      <div class="bg-black p-3">
        <% if @over_ten %>
         <%= link_to 'Show Previous', '?m=all' %>
        <% end %>
        <% @messages.each_with_index do |message, index| %>
          <% if message.user %>
            <div class="p-3 <%= message.user == current_user ? "text-right" : "text-left" %>">
              <span class= "round p-2 <%= message.user == current_user ? "bg" : "bg-dark" %>"> <%= message.body %> </span> &nbsp;
              <% @previous_message = @messages[index -1] %>
              <% if @previous_message.user == message.user %>
              <div class="fake-image"></div>
              <% elsif message.user.photo.attached? %>
                <%= cl_image_tag message.user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "user.png", class: "avatar" %>
              <% end %>
            </div>
            <%end %>
          <%end%>
        <div class ="message-form">
          <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
            <div class="m-1 field">
              <%= f.text_area :body, class: "form-control" %>
            </div>
              <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
           <div class="move-b">
             <%= f.submit class: "brk-btn small" %>
           </div>
          <% end %>
        </div>
      </div>
  </div>
</div>




