<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = message.user %>

<div class= "message-box">
<ul class="list-mess">
<% if message.user == current_user %>
<li class ="me"> <div class="message_container">
 <% if message.user.photo.attached? %>
 <%= cl_image_tag message.user.photo.key, class: "avatar" %>
<% else %>
<%= image_tag "user.png", class: "avatar" %>
<% end %>
  <div class="header"><strong><%= user.first_name %></strong></div>
  <p> <%= message.body %> </p>
  <span class="time-right"> <%= message.message_time%></span>
</div> </li>

<% else %>
 <li class ="other"> <div class="message_container darker">
  <% if message.user.photo.attached? %>
 <%= cl_image_tag message.user.photo.key, class: "avatar" %>
<% else %>
<%= image_tag "user.png", class: "avatar" %>
  <% end %>
<div class="header"><strong><%= user.first_name %></strong></div>
  <p> <%= message.body %> </p>
  <span class="time-right"> <%= message.message_time%></span>
</div> </li>

<% end  %>
<% end %>
<% end %>
</ul>
</div>

<div class ="message-form">
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Send a message", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
</div>

