
<div class="card-booking-show mt-5 m-3 pr-5 pl-5">
  <% if @booking.pro.photo.attached? %>
    <%= cl_image_tag @booking.pro.photo.key, class: "avatar-big " %>
  <% else %>
    <%= image_tag "user.png", class: "avatar-big " %> <hr>
  <% end %>
    <p> You have made a booking with <%= @booking.pro.first_name %> on <%= @booking.date.strftime(' %A %e %B %Y') %>! <hr> <br>


      <%= link_to "Message #{@booking.pro.first_name}", conversations_path(sender_id: current_user.id, recipient_id: @booking.pro), method: 'post', class: "grey-btn"%> <br> <br> <br>


    <%= link_to "Return to Dashbaord", dashboard_path  %>
</div>
</p>

