<div class="profile-pro">
  <div class="profile-card_pro">
      <div class="profile-card-image_pro">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, height: 300, width: 400, overflow: :hidden %>
        <% else %>
          <%= image_tag "user.png"%>
        <% end %>

        <div class="update-image">
            <button class="update-image-btn" type="button" data-toggle="collapse" data-target="#upload-image" aria-expanded="false" aria-controls="upload-image">
              Update Profile Picture
            </button>
        </div>
          <div class="collapse" id="upload-image">
            <div class="update-image update-image-body">
              <%= render partial: 'users/form', locals: {model: @user, url: user_registration_path, verb: :patch} %>
            </div>
          </div>
        </div>

      <div class="profile-spotify">
        <iframe src="https://open.spotify.com/embed/artist/<%= @user.spotify_artist_link %>" width=100% height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="profile-left-header">
        <h6>About <%= @user.artist_name %> </h6>
        <p><%= @user.bio %> </p>
      </div>
      <div class="profile-left-header">
        <h6>Follow <%= @user.artist_name %> </h6>
        <% if @user = current_user %>
          <% if @user.instagram_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.instagram_link %>/">
              <i class="fab fa-instagram-square"></i>
            </a>
          <% end %>
          <% if @user.facebook_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.facebook_link %>/">
              <i class="fab fa-twitter-square"></i>
            </a>
          <%end %>
          <% if @user.facebook_link.nil? && @user.instagram_link.nil?  %>
            <p>Update your profile to add your social media!</p>
          <% end %>
        <% else %>
          <% if @user.instagram_link.present? %>
            <a href="https://www.instagram.com/<%= @user.instagram_link %>/">
              <i class="fab fa-instagram-square"></i>
            </a>
          <% end %>
          <% if @user.facebook_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.facebook_link %>/">
              <i class="fab fa-twitter-square"></i>
            </a>
          <%end %>
          <% if @user.facebook_link.nil?  && @user.instagram_link.nil?  %>
            <p><%= @user.artist_name%> has not added their social media</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

