<div class="profile-card">

  <div class="hero-image">
    <%= image_tag "HC_LOGO_RGB-04.png" %>
  </div>


  <div class="content">
    <div class="profile-left">
      <div class="profile-card-image">
        <% if @pro.photo.attached? %>
          <%= cl_image_tag @pro.photo.key, height: 300, width: 400, overflow: :hidden %>
        <% else %>
          <%= image_tag "user.png"%>
        <% end %>
      </div>
      <% if current_user == @pro %>
        <div class="update-image">
            <button class="update-image-btn" type="button" data-toggle="collapse" data-target="#upload-image" aria-expanded="false" aria-controls="upload-image">
              Update Profile Picture
            </button>
        </div>
          <div class="collapse" id="upload-image">
            <div class="update-image update-image-body">
              <%= render partial: 'users/form', locals: {model: @user, url: user_registration_path, verb: :patch} %>
            </div>
          </div>
        </div>
        <% end %>


      <div class="profile-left-header">
        <h6>About <%= @user.artist_name %> </h6>
        <p><%= @user.bio %> </p>
      </div>

    </div>

    <div class="profile-right">
      <div class="profile-header">
        <h1><%= @user.first_name.upcase %> <%= @user.last_name.upcase %> </h1>
        <h4>HOLY COVEN TEAM</h4>
      </div>

      <div class="profile-subheader">
        <h6>Services</h6>

        <div class="album-cover">
      <!--     <%= image_tag "HC_LOGO_RGB-04.png" %> -->
          <% @userservice.each do |service| %>
            <p><strong><%= service.type_of_service %></strong>
          <% end %>
        </div>



      <div class="profile-subheader">
        <h6>Message</h6>
      </div>

      <div class="profile-subheader">
        <h6>Reviews</h6>
        <ul class="list-group">
            <% @user.reviews.each do |review| %>
              <li class="list-group-item"><%= review.content %></li>
            <% end %>
        </ul>
      </div>

      </div>
    </div>
    </div>
  </div>
</div>

