<div class="profile-card">

  <div class="hero-image">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key %>
    <% else %>
      <%= image_tag "user.png"%>
    <% end %>
  </div>

  <div class="content">
    <div class="profile-left">
      <div class="profile-card-image">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, height: 300, width: 400, overflow: :hidden %>
        <% else %>
          <%= image_tag "user.png"%>
        <% end %>

        <div class="update-image">
            <button class="update-image-btn" type="button" data-toggle="collapse" data-target="#upload-image" aria-expanded="false" aria-controls="upload-image">
              Update Profile Picture
            </button>
        </div>
          <div class="collapse" id="upload-image">
            <div class="update-image update-image-body">
              <%= render partial: 'users/form', locals: {model: @user, url: user_registration_path, verb: :patch} %>
            </div>
          </div>
        </div>

      <div class="profile-spotify">
        <iframe src="https://open.spotify.com/embed/artist/<%= @user.spotify_artist_link %>" width=100% height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="profile-left-header">
        <h6>About <%= @user.artist_name %> </h6>
        <p><%= @user.bio %> </p>
      </div>
      <div class="profile-left-header">
        <h6>Follow <%= @user.artist_name %> </h6>
        <% if @user = current_user %>
          <% if @user.instagram_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.instagram_link %>/">
              <i class="fab fa-instagram-square"></i>
            </a>
          <% end %>
          <% if @user.facebook_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.facebook_link %>/">
              <i class="fab fa-twitter-square"></i>
            </a>
          <%end %>
          <% if @user.facebook_link.nil? && @user.instagram_link.nil?  %>
            <p>Update your profile to add your social media!</p>
          <% end %>
        <% else %>
          <% if @user.instagram_link.present? %>
            <a href="https://www.instagram.com/<%= @user.instagram_link %>/">
              <i class="fab fa-instagram-square"></i>
            </a>
          <% end %>
          <% if @user.facebook_link.present?  %>
            <a href="https://www.instagram.com/<%= @user.facebook_link %>/">
              <i class="fab fa-twitter-square"></i>
            </a>
          <%end %>
          <% if @user.facebook_link.nil?  && @user.instagram_link.nil?  %>
            <p><%= @user.artist_name%> has not added their social media</p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="profile-right">
      <div class="profile-header">
        <h1><%= @user.artist_name.upcase %></h1>
        <h4>ARTIST</h4>
        <% if @user.spotify_artist_link.present? %>
          <div class="profile-spotify-follow-btn">
            <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:<%= @user.spotify_artist_link %>&size=basic&theme=dark&show-count=0" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
          </div>
        <% end %>
      </div>


      <div class="profile-subheader">
        <h6>Latest Release</h6>
      </div>

      <div class="albums-one">
        <% if @latest_release.blank? %>
          <div class="blank-album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <% if @user = current_user %>
              <p>You have not released any of your projects yet!</p>
            <% else %>
              <p><%= @user.artist_name %> has not released any music yet :( </p>
              <% if @user.spotify_artist_link.present? %>
              <p> Follow them to stay tuned!</p>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="albums-one">
            <!-- add image to projects -->
          </div>
          <div class="release-info">
            <h6><strong><%=@latest_release.title %></strong></h6>
            <p><%=@latest_release.description %></p>
            <%= link_to "View Project", project_path(@latest_release) %>
          </div>
        <% end %>
      </div>

      <div class="profile-subheader">
        <h6>Current Projects</h6>
      </div>

      <% if @ongoing_projects.empty? %>
        <div class="empty-profile-right-card">
            <% if @user == current_user %>
              <p>You do not have any projects yet!<br>
              <%= link_to "Start a new project!", new_project_path%></p>
            <% else %>
              <p><%= @user.artist_name %> does not have any projects yet!</p>
            <% end %>
        </div>

      <% elsif @ongoing_projects.count == 1%>
        <div class="albums-one">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <h6><strong><%=@ongoing_projects[-1].title%></strong>:</h6>
            <p><em><%= @ongoing_projects[-1].status %></em></p>
          </div>
        </div>
      <% elsif @ongoing_projects.count == 2%>
        <div class="albums-two">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <h6><strong><%=@ongoing_projects[-1].title%>:</strong></h6>
              <p><em><%= @ongoing_projects[-1].status %></em></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <h6><strong><%=@ongoing_projects[-2].title%>:</strong></h6>
              <p><em><%= @ongoing_projects[-2].status %></em></p>
          </div>
        </div>
      <% elsif @ongoing_projects.count == 3%>
        <div class="albums-three">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-1].title%></strong>:<br>
              <%= @ongoing_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-2].title%></strong>:<br>
              <%= @ongoing_projects[-2].status %></p>
          </div>
          <div class="album-cover">
          <%= image_tag "HC_LOGO_RGB-04.png" %>
          <p><strong><%=@ongoing_projects[-3].title%></strong>:<br>
            <%= @ongoing_projects[-3].status %></p>
          </div>
        </div>
      <% elsif @ongoing_projects.count == 4%>
        <div class="albums-four">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-1].title%></strong>:<br>
              <%= @ongoing_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-2].title%></strong>:<br>
              <%= @ongoing_projects[-2].status %></p>
          </div>
          <div class="album-cover">
          <%= image_tag "HC_LOGO_RGB-04.png" %>
          <p><strong><%=@ongoing_projects[-3].title%></strong>:<br>
            <%= @ongoing_projects[-3].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-4].title%></strong>:<br>
              <%= @ongoing_projects[-4].status %></p>
          </div>
        </div>
      <% elsif @ongoing_projects.count <= 5%>
        <div class="albums-four">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-1].title%></strong>:<br>
              <%= @ongoing_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-2].title%></strong>:<br>
              <%= @ongoing_projects[-2].status %></p>
          </div>
          <div class="album-cover">
          <%= image_tag "HC_LOGO_RGB-04.png" %>
          <p><strong><%=@ongoing_projects[-3].title%></strong>:<br>
            <%= @ongoing_projects[-3].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@ongoing_projects[-4].title%></strong>:<br>
              <%= @ongoing_projects[-4].status %></p>
          </div>
        </div>
    <% end %>



    <% if @completed_projects.empty? && @ongoing_projects.present? %>
      <div class="profile-subheader">
        <h6>Released Projects</h6>
      </div>
      <div class="empty-profile-right-card">
        <% if @user == current_user %>
          <p>You have not released any projects yet!<br>
          <%= link_to "Continue working on your current projects!", projects_path%></p>
        <% else %>
          <p><%= @user.artist_name %> has not released any projects yet!</p>
        <% end %>
      </div>

      <% elsif @completed_projects.count == 1%>
        <div class="profile-subheader">
          <h6>Released Projects</h6>
        </div>
        <div class="albums-one">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <p><strong><%=@completed_projects[-1].title%></strong>:<br>
              <%= @completed_projects[-1].status %></p>
          </div>
        </div>
      <% elsif @completed_projects.count == 2%>
        <div class="profile-subheader">
          <h6>Released Projects</h6>
        </div>
        <div class="albums-two">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <h6><%=@completed_projects[-1].title%></h6>:
              <%= @completed_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
          </div>
          <div class="release-info">
            <h6><%=@completed_projects[-2].title%></h6>:
              <%= @completed_projects[-2].status %></p>
          </div>
        </div>
      <% elsif @completed_projects.count == 3%>
        <div class="profile-subheader">
          <h6>Released Projects</h6>
        </div>
        <div class="albums-three">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@completed_projects[-1].title%></strong>:<br>
              <%= @completed_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@completed_projects[-2].title%></strong>:<br>
              <%= @completed_projects[-2].status %></p>
          </div>
          <div class="album-cover">
          <%= image_tag "HC_LOGO_RGB-04.png" %>
          <p><strong><%=@completed_projects[-3].title%></strong>:<br>
            <%= @completed_projects[-3].status %></p>
          </div>
        </div>
      <% elsif @completed_projects.count >= 4%>
      <div class="profile-subheader">
        <h6>Released Projects</h6>
      </div>
        <div class="albums-four">
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@completed_projects[-1].title%></strong>:<br>
              <%= @completed_projects[-1].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@completed_projects[-2].title%></strong>:<br>
              <%= @completed_projects[-2].status %></p>
          </div>
          <div class="album-cover">
          <%= image_tag "HC_LOGO_RGB-04.png" %>
          <p><strong><%=@completed_projects[-3].title%></strong>:<br>
            <%= @completed_projects[-3].status %></p>
          </div>
          <div class="album-cover">
            <%= image_tag "HC_LOGO_RGB-04.png" %>
            <p><strong><%=@completed_projects[-4].title%></strong>:<br>
              <%= @completed_projects[-4].status %></p>
          </div>
        </div>
    <% else %>


    <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

