<div class="dashboard-container">
  <div class="col-9">
    <div class="dashboard-card">
      <h1 class="hello mb-4">Hello <%= @user.artist_name %>!</h1>
      <div class="row">
        <div class="container-item project-div col-sm-12 col-md-6">
          <div class="row">
            <% if @user_projects.empty? == true %>
            <p> You do not have any projects yet!</p>
            <% else %>
              <% @user_projects.each do |project|%>
                <div class="col-sm-12 card-project card-product">
                  <%= image_tag "Green_music.jpg", class: "card-product-image"%>
                  <div class="card-project-infos">
                    <h3> <%= link_to project.title, project_path(project)%> </h3>
                    <p> <%= project.status %> </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="container-item book-div col-sm-12 col-md-6">
          <div class="card-book">
            <% if @user_bookings.empty? == true %>
              <p>You do not have any bookings yet!</p>
              <p> <%= link_to "Book a new service", services_path, class: "btn btn-outline-success btn-lg" %> </p>
            <% else %>
              <% @user_bookings.each do |booking|%>
              <p> <%= booking.date %> </p>
               <% end %>
            <% end %>
          </div>
        <%= link_to "Create a new project", new_project_path, class: "btn btn-outline-success btn-lg create-project ml-2 mt-4"%>
        </div>
      </div>
   <!--   <div id="dashboard-project">
     </div> -->
       <div class="card-team mt-4">
        <div class="row">
          <h2>Your next appointment</h2>
        </div>
      </div>
    </div>

  </div>
  <div class="col-3">
    <div class="spotify_card">
      <iframe src="https://open.spotify.com/embed/artist/3ccrJOoILrsst0M1V0PlP3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

</div>
