<div class="dashboard-container">
  <div class="spotify_card">
    <iframe src="https://open.spotify.com/embed/artist/3ccrJOoILrsst0M1V0PlP3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <div class="dashboard-card">
    <div class="hello"><h1>Hello <%= @user.artist_name %>!</h1></div>
      <div class="row">
        <div class="container-item project-div col-sm-6 col-md-6">
          <div class="row">
            <% if @user_projects.empty? == true %>
              <p> You do not have any projects yet!</p>
            <% else %>
              <% @user_projects.each do |project|%>
              <div class="col-sm-12 card-project card-product">
                <% if project.photo.attached? %>
                  <%= cl_image_tag project.photo.key, class: "card-product-image", height: 300, width: 400, overflow: :hidden %>
                <% else %>
                  <%= image_tag "user.png", class: "card-product-image" %>
                <% end %>
                <div class="card-project-infos">
                  <h3> <%= link_to project.title, project_path(project)%> </h3>
                  <p> <%= project.status %> </p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="create-button">
          <%= link_to "Create a new project", new_project_path, class: "brk-btn btn-lg" %>
        </div>
      </div>

      <% if @user.projects.empty? %>
        <p>You don't have a current project.</p>
      <% else %>
      <div class="card-book col-md-6 col-sm-6" style="background-image: linear-gradient(#212529, rgba(0,0,0,0.37) ), url(<%= @user.projects.last.photo.attached? ? cl_image_path(@user.projects.last.photo.key) : asset-url("user.png")%>)">
        <p>Your current project</p>
        <h6><%= @user.projects.last.title %></h6>
        <h6><%= @user.projects.last.description %></h6>
        <h6>Start Date: <%= @user.projects.last.start_date %></h6>
        <h6><%= @user.projects.last.status %></h6>
        <h6>Last Updated: <%= @user.projects.last.updated_at %></h6>
      <% end %>
      </div>

      <div class="card-team col-sm-6 col-md-6">
        <% if @user_bookings.empty? == true %>
          <p>You do not have any bookings yet!</p>
        <% else %>
          <% @user_bookings.each do |booking|%>
            <p> <%= booking.date %> </p>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

