
<div class="card-project-show mt-5 m-3 ">
            <% if @project.photo.attached? %>
            <%= cl_image_tag @project.photo.key, class: "avatar-big " %>
          <% else %>
            <%= image_tag "user.png", class: "avatar-big " %>
          <% end %>
    <h2><%= @project.title %></h2> <br> <br> <br>
    <h6><%= @project.description %></h6>
    <h6><%= @project.status %></h6>
    <h6> You started this project on <%= @project.start_date.strftime(' %A %e %B %Y') %></h6>
        <%= link_to "Book in your next step!", services_path, class: "brk-btn" %> <br>
      <div class="card-footer">
        <%= link_to "Return to Projects", projects_path %> <br>
        <%= link_to "Edit", edit_project_path(@project) %>  &nbsp;
        <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you wish to delete your project?" }  %> <br> <br>
      </div>
 </div>
